*{
    padding: 0px;
    margin: 0px;
}
ul,ol{
    list-style: none;
}
a,a:hover,a:focus{
    text-decoration: none;
    outline: 0px;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: nunito;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: montserrat_bold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
 h1,h2,h3,h4,h5,h6,p,ol,ul,li{
    margin-top: 0;
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    width: 100%;
    @media screen and (max-with: 1200PX) and (min-width: 738px){
        
    }
    
}   
/*header part ends*/


header #navigation{
    background-color: #FCFCFC;
}
header #navigation nav .mr-auto{
     margin: auto;
}
header #navigation nav .navbar-nav .nav-item .nav-link{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
    transition: all linear 0.3s;
    padding: 0px 15px;
    line-height: 100px;
}
header #navigation nav .navbar-nav .nav-item .nav-link:hover, header #navigation nav .navbar-nav .nav-item.active .nav-link{
    color: #1CBD9D;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
header #navigation nav a{
    font-size: 20px;
    color: #fff;
    transition: all linear 0.3s;
}
header #navigation nav a:hover{
    color: #1CBD9D;
}
header #navigation nav .login{
    border:2px solid #1CBD9D;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    font-family: 'Oswald', sans-serif;
}
header #navigation nav .login.active{
    background: #1CBD9D;
    transition: all linear 0.3s;
}
header #navigation nav .login.active:hover{
    color: black;
    transition: all linear 0.3s;
}
header #navigation nav .signup{
    color: #1CBD9D;
    border:2px dotted #1CBD9D;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    font-family: 'Oswald', sans-serif;
}
header #navigation nav .signup:hover{
    color: black;
}
 /*header part ends*/
   
/*banner part starts*/

.banner {
    background: #FCFCFC;
}
.banner .container h1{
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 25px;
    padding-top: 120px;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    
}
.banner .container p{
    font-size: 15px;
    font-family: montserrat_bold;
    font-weight: 300;
    padding-bottom: 30px; 
}
.banner .container button{
    font-size: 16px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    border: none;
    background-color: #1CBD9D;
    padding: 10px 15px;
    margin-bottom: 100px;
    margin-left: 1px;
    border: 1px solid #1CBD9D;
    border-radius: 5px;
    transition: all linear 0.3s;
}
.banner .container button:hover{
    color: black;
}
.banner .container a{
    font-size: 16px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    border: none;
    padding: 10px 15px;
    margin-bottom: 100px;
    margin-left: 1px;
    border-radius: 5px;
    border: 2px dashed #1CBD9D;
    transition: all linear 0.3s;
}
.banner .container a:hover{
    color: #1CBD9D;
}
.banner .container .img1{
    height: 70px;
    width: 275px;
    margin-left: 50px;
    margin-top: 60px;
}
.banner .container .img2{
    height: 290px;
    width: 400px;
    margin-top: -20px;
}
.banner .container .img3{
     position: absolute; 
    top: -37%;
    left: 30%;
    height: 240px;
    width: 250px;
}
.banner .container .img4{
    position: absolute;
    top: -29%;
    left: -48%;
    height: 90px;
    width: 240px;
}
.banner .container .img1 {
    
  position: relative;
  animation-name: mymove;
  animation-duration: 4s;
} 
@keyframes mymove {
    from {left: 10%;}
    to {left: 0%;}
}
.banner .container .img2 {
    position: relative;
    animation-name: img2;
    animation-duration: 4s;
  } 
  @keyframes img2 {
      from {right: 10%;}
      to {right: 0%;}
  }
   .banner .container .img3 {
    position: relative;
    animation-name: img3;
    animation-duration: 4s; 
  } 
  @keyframes img3 {
      from {bottom: 90%;}
      to {bottom: 100%;}
  } 
  .banner .container .img4 {
    position: relative;
    animation-name: img4;
    animation-duration: 4s;
  } 
  @keyframes img4{
      from {top: 0%;}
      to {bottom: .5%;}
  } 

/*banner part ends*/

/*pricing part starts*/
#pricing{
    background: #E5E5E5;
}
#pricing .container h2{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    padding-bottom: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
#pricing .container h2:after{
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background: #1CBD9D;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
}
#pricing .container p{
    font-size: 15px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
    padding-bottom: 25px;
}
#pricing .container .pricing_basic{
    background: white;
    border-radius: 15px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 35px;
    transition: all linear 0.3s;
}
#pricing .container .pricing_basic:hover{
    position: inherit;
    margin-top: 10px;
    background: #1CBD9D;
    color: #fff;
}
#pricing .container .pricing_basic a{
    color: #1CBD9D;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 20px;
}
#pricing .container .pricing_basic a:hover{
    color: #fff;
}
#pricing .container .pricing_basic span{
    margin-top: 20px;
}
#pricing .container .pricing_basic .price span{
    padding-top: 20px;
}
#pricing .container .pricing_basic .price{
    background: #1CBD9D;
    border-radius: 15px;
}
#pricing .container .pricing_basic .price p{
    text-transform: uppercase;
}
#pricing .container .pricing_basic .price h3{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#pricing .container .pricing_basic button{
    border: none;
    background: #1CBD9D;
    padding: 12px 70px;
    margin-bottom: 20px;
    margin-left: 28px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    border: 2px solid #fff;
    transition: all linear 0.3s;
}
#pricing .container .pricing_basic button:hover{
    background: white;
    color: #1CBD9D;
    border: 2px solid #1CBD9D;
}
/*pricing part ends*/

/*amazing part starts*/
#amazing{
    background-color: #FCFCFC;
}
#amazing .container{
    background-color: #FCFCFC;
} 
#amazing .container .img .amz_img1{
    position: absolute; 
    height: 162px;
    top: 80%;
    left: 15%;
} 
#amazing .container .img .amz_img2{
    height: 400px;
} 
#amazing .container .img .amz_img2{
    position: relative;
    animation-name: amz_img2;
    animation-duration: 4s;
  } 
  @keyframes amz_img2 {
      from {right: 10%;}
      to {right: 0%;}
  }
#amazing .container .img .amz_img3{
    position: absolute;
    height: 400px;
    margin-top: 70px;
    margin-left: 5px;
} 
#amazing .container .img .amz_img3{
    position: relative;
    animation-name: amz_img3;
    animation-duration: 4s;
  } 
  @keyframes amz_img3 {
      from {left: 10%;}
      to {left: 0%;}
  }
#amazing .container .img .amz_img4{
    position: absolute;
    height: 114px;
    bottom: -65%;
    left: 10%;
}
#amazing .container .text h1{
    font-size: 40px;
    font-weight: 600;
    color: black;
    padding-bottom: 25px;
    padding-top: 120px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
}
#amazing .container .text{
    margin-left: 0px;
}
#amazing .container .text .icon_part1{
    background: #47D4B8;
    margin-left: 40px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;    
    float: left;
}
#amazing .container .text .icon_part1 a{
    padding-left: 30px;
    font-size: 30px;
    color: white;
}
#amazing .container .text .icon_part1 span{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
#amazing .container .text .icon_part2{
    background: #785CDC;
    margin-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;    
    float: left;
}
#amazing .container .text .icon_part2 a{
    padding-left: 35px;
    font-size: 30px;
    color: white;
}
#amazing .container .text .icon_part2 span{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
#amazing .container .text .icon_part3{
    background: #4C89D7;
    margin-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;    
    float: left;
}
#amazing .container .text .icon_part3 a{
    padding-left: 40px;
    font-size: 30px;
    color: white;
}
#amazing .container .text .icon_part3 span{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
#amazing .container .text p{
    padding-top: 10px;
    padding-bottom: 50px; 
    font-family: montserrat_bold;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color: black;
    padding-left: 40px;
}

#amazing .container .text button{
    border: none;
    background: #303030;
    padding: 12px 80px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase;
}
#amazing .container .text2 h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 320px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
}
#amazing .container .text2 p{
    padding-top: 10px;
    padding-bottom: 50px; 
    font-family: montserrat_bold;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    padding-left: 40px;
}
#amazing .container .text2 button{
    border: none;
    background: #303030;
    padding: 12px 80px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase;
}
/*amazing part ends*/


#details{
    /* background: url(../images/Ellipse.png)no-repeat; */
    
}
#details .container{
    background: url(../images/Ellipse_half.png)no-repeat;
    margin-top: 120px;
    padding-bottom: 120px;
}
#details .container .image{
    float: left;
}
#details .container .profile img{
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;  
}
#details .container .image .img1{
    height: 55px;
    padding-left: 125px;
    margin-top: 75px;
}
#details .container .image .img1{
    position: relative;
    animation-name: mymove;
    animation-duration: 4s;
  } 
  @keyframes mymove {
      from {left: 10%;}
      to {left: 0%;}
  }
#details .container .image .img2{
    height: 55px;
    padding-left: 175px;
    margin-top: 50px;
}
#details .container .image .img2{
    position: relative;
    animation-name: mymove;
    animation-delay: .25s;
    animation-duration: 4s;
  } 
  @keyframes mymove {
      from {left: 10%;}
      to {left: 0%;}
  }
#details .container .image .img3{
    height: 55px;
    padding-left: 225px;
    margin-top: 50px;
}
#details .container .image .img3{
    position: relative;
    animation-name: mymove;
    animation-delay: .75s;
    animation-duration: 4s;
  } 
  @keyframes mymove {
      from {left: 10%;}
      to {left: 0%;}
  }
#details .container .image .img4{
    height: 55px;
    padding-left: 175px;
    margin-top: 50px;
}
#details .container .image .img4{
    position: relative;
    animation-name: mymove;
    animation-delay: 1s;
    animation-duration: 4s;
  } 
  @keyframes mymove {
      from {left: 10%;}
      to {left: 0%;}
  }
#details .container .image .img5{
    height: 55px;
    padding-left: 125px;
    margin-top: 50px;
}
#details .container .image .img5{
    position: relative;
    animation-name: mymove;
    animation-delay: 1.25s;
    animation-duration: 4s;
  } 
  @keyframes mymove {
      from {left: 10%;}
      to {left: 0%;}
  }
  #details .container .profile img{
    position: relative;
    animation-name: details;
    animation-duration: 4s;
  } 
  @keyframes details {
      from {right: 10%;}
      to {right: 0%;}
  }

/*footer part ends*/
#footer{
    background-color: #2F2F2F;
}
#footer .container .left p{
    text-transform: capitalize;
    color: white;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
}
#question .container img{
    margin-top: 50px;
    margin-bottom: 50px;
}
#question .container .text1 h1{
    padding-top: 100px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: montserrat_bold;
    font-size: 30px;
    font-weight: 600;
}
#question .container .text1 button:focus:not(:focus-visible) {
    box-shadow:none;
}
/* #question .container .text1 .accordion .accordion-item h2{
    border-bottom: 1px dashed #1CBD9D;
} */
#question .container .text1 .accordion-item{
    border-radius: 10px; 
    border: 1px solid #1CBD9D;
    margin-bottom: 20px;
}
#question .container .text1 h2 button{
    text-transform: capitalize;
    font-family: montserrat_bold;
    /* border: 1px solid #1CBD9D; */
    /* margin-top: 10px; */
    border-radius: 10px;
    background: none;
}
#question .container .text1 .accordion-item .accordion-button{
     border-radius: 10px; 
    background: none;
}
#question .container .text1 .accordion-item .shadow .body{
    border-top: 1px dashed #1CBD9D;
    border-width: 2px;
}
#question .container .text1 .accordion .accordion-item{
    background: none;
}
 #question .container .text1 #accordion .first{
    border: 1px solid #1CBD9D;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
} 
#question .container .text1 #accordion .first h6{
    color: #000;
    font-family: montserrat;
    font-weight: 500;
}
#question .container .text1 #accordion .first button{
    border: 0px;
}



#contact .container .content{
    background: #1CBD9D;
    margin-top: 180px;
    border-radius: 20px;
}
#contact .container .content .img{
    float: left;
}
#contact .container .content .img img{
    margin-top: -112px;
}

#contact .container .content .img img{
        position: relative;
        animation-name: contact;
        animation-duration: 4s;
      } 
     @keyframes contact {
        from {right: 10%;}
        to {right: 0%;}
    }
#contact .container .content .text{
    float: left;
}
#contact .container .content .text form button{
    
    margin-left: 427px;
    margin-top: 4px;
    padding: 11px 18px;
}
#contact .container .content .text h2{
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 600;
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
}
#contact .container .content .text form{
    
    padding-left: 10px;
}
#contact .container .content .text form .form-control{
    padding-top: 24px;
    padding-bottom: 24px;
}
input .form-control .input{
    padding-left: 10px;
    padding-right: 100px;
}
button.btn.btn-primary.mb-2 {
    margin-left: -85px;
}
.mb-2 {
    margin-bottom: -6.5rem!important;
}
#footer .container .right{
    float: right;
    margin-top: 25px;
} 
#footer .container .right .border{
    padding: 9px 14px;
    border: 1px solid #858585;
}
#footer .container .right .border:hover{
    background: #1CBD9D;
}
#footer .container .right a{
    color: white;
    border: 1px solid #858585;
    padding: 10px 10px;
    border-radius: 50%;
    transition: all linear 0.3s;
}
#footer .container .right a:hover{
    background: #1CBD9D;
    border: 1px solid #1CBD9D;
}
/*footer part ends*/


